<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614373907797-aqe1m5d3afrfo91n21jrqdd11k545atu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614373907797-aqe1m5d3afrfo91n21jrqdd11k545atu</string>
	<key>API_KEY</key>
	<string>AIzaSyDEFbW0NdujAbt0iEdyE0bs1JpaVsgyB9U</string>
	<key>GCM_SENDER_ID</key>
	<string>614373907797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagram</string>
	<key>PROJECT_ID</key>
	<string>myinstagram-5a040</string>
	<key>STORAGE_BUCKET</key>
	<string>myinstagram-5a040.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614373907797:ios:056b00385c9ad6c19c23dc</string>
</dict>
</plist>